[submodule "thirdparty/libunifex"]
	path = thirdparty/libunifex
	url = https://github.com/facebookexperimental/libunifex.git
[submodule "thirdparty/core"]
	path = thirdparty/core
	url = https://github.com/ParadoxsHorizon/DuckLib
